{% extends "base.html" %}
{% load static %}
{% block title %} CAFE-SARL - Actualites {% endblock title %}
{% block body %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Contact</h2>
        </div>

        <div class="row gx-lg-0 gy-4">

            <div class="col-lg-4">

                <div
                    class="info-container d-flex flex-column align-items-center justify-content-center">
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h4>Adresse:</h4>
                            <p>
                                Kalabancoro près du Marché <br>
                                Immeuble SOMAYAF Station N°2 <br>
                                Bamako <br>
                                Mali
                            </p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h4>Email:</h4>
                            <p><a href="mailto:kamba.dembele@cafemali.com"
                                    class="text-white">kamba.dembele@cafemali.com</a></p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0"></i>
                        <div>
                            <h4>Telephone:</h4>
                            <p>+223 20 71 22 22 / 66 95 49 94</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-clock flex-shrink-0"></i>
                        <div>
                            <h4>Heures d'ouverture:</h4>
                            <p>Lundi-Vendredi: 08h00 - 16h00</p>
                        </div>
                    </div><!-- End Info Item -->
                </div>

            </div>

            <div class="col-lg-8 ml-3">
                <form action="{% url 'contact_form' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control"
                                placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control"
                                name="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="sujet"
                            placeholder="Sujet" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="7"
                            placeholder="Message" required></textarea>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>
</section><!-- End Contact Section -->
{% endblock body %}