<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %}
        
    {% endblock title %}
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">
  <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!-- Alertify CSS -->
        <link rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
        <!-- Alertify Default theme -->
        <link rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />



</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:kamba.dembele@cafemali.com">kamba.dembele@cafemali.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span> +223 20 71 22 22 / 66 95 49 94</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.facebook.com/Cafesarl/" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/Cafesarl/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.linkedin.com/company/cafe-sarl/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>
  <!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>CAFE SARL<span> </span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Acceuil</a></li>
          <li><a href="{% url 'presentation'  %}">Présentation</a></li>

          <li><a href="{% url 'actualite_index' %}">Actualités</a></li>



            <li class="dropdown"><a href="#"><span>Service</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="{% url 'formation_index' %}">Formations</a></li>

                  <li><a href="{% url 'service_index' %}">Services</a></li>
                </ul>
              </li>


            <li class="dropdown"><a href="#"><span>Autre</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="{% url 'emploi_index' %}">Offre d'emplois</a></li>
                  <li><a href="{% url 'coin_consultant'  %}">Coin du Consultant</a></li>
                  <li><a href="{% url 'contact_index' %}">Contact</a></li>
                </ul>
              </li>

          {% if not user.is_authenticated%}
            <li><a href="{% url 'my_login' %}">Connexion</a></li>
          {% endif %}

          {% if user.is_authenticated%}
            <li><a href="{% url 'contact_index' %}"></a></li>
            <div class="dropdown">
                <li class="dropdown"><a href="#"><span>Compte</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>

                  {% if user.type_compte == "candidat" %}
                    <li><a href="{% url 'profile_candidat' %}">Profil</a></li>
                  {% endif %}

                  {% if user.type_compte == "recruteur"%}
                    <li><a href="{% url 'profile_recruteur' %}">Profil</a></li>
                  {% endif %}

                  {% if user.type_compte == "admin"%}
                    <li><a href="{% url 'profile_admin' %}">Profil</a></li>
                  {% endif %}



                  <li><a href="{% url 'my_logout'%}">Déconnexion</a></li>
                </ul>
              </li>
            </div>
          {% endif %}



        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->
  <main id="main">
     {% block body %}
    
    {% endblock body %}
  </main>
  <!-- End Hero Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="" class="logo d-flex align-items-center">
            <span>CAFE SARL</span>
          </a>
          <p>CAFE SARL est un cabinet de conseil et d’assistance en gestion fiscale et    sociale spécialisé dans la formation et gestion des compétences. Nous sommes une équipe vouée à la tache avec des compétences diverses ayant pour souci d’offrir une meilleure qualité de travail à ceux qui nous font confiance.</p>
          <div class="social-links d-flex mt-4">
              <a href="https://www.facebook.com/Cafesarl/" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/Cafesarl/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.linkedin.com/company/cafe-sarl/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li><a href="#">Presentation</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Actualites</a></li>
             <li><a href="{% url 'coin_consultant'  %}">Coin du Consultant</a></li>
          <li><a href="{% url 'contact_index' %}">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>FAQ</h4>
          <ul>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contactez-nous</h4>
          <p>
            Kalabanco pres du Marche <br>
            Immeuble SOMOYAF Station No 2<br>
            Bamako Mali <br><br>
            <strong>Tel:</strong> +223 20 71 22 22 / 66 95 49 94<br>
            <strong>Email:</strong> <a href="mailto:kamba.dembele@cafemali.com" class="text-white" target="_blank">kamba.dembele@cafemali.com</a><br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>CAFE SARL</span></strong>. Tous les droits sont réservés
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
<!--        Designed by <a href="">@</a>-->
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <!-- Alertify JavaScript cdn link -->
        <script
            src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
            <script>
            alertify.set('notifier','position', 'top-right')

            {% for msg in messages %}
              alertify.success('{{ msg }}')
            {% endfor %}
            
        </script>

</body>

</html>

  {% block custom_syles %}
  {% endblock custom_syles %}

