{% extends "base.html" %}
{% load static %}

{% block title %} CAFE-SARL - {{ offre.titre }} {% endblock title %}

{% block body %}
<section id="about" class="about">
      <div class="container" data-aos="fade-up">

          <div class="container h1 text-center">
              Candidat
          </div>

      </div>

</section>

{% endblock body %}

  {% block custom_syles %}
<style>
    /*#topbar, #header, #footer{
        display:none!important;
    }*/
</style>
  {% endblock custom_syles %}